<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOE - Organização e Eficiência</title>
    <link rel="shortcut icon" href="/img/foe-logotipo-ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>
    <header class="header">
      <nav id="navbar" class="nav">
        <a href="/" id="logo" class="logo">
          <img src="/img/foe-logotipo.png" alt="Logotipo Foe">
        </a>
        <button class="hamburger"></button>
        <ul class="nav-list">
          <li><a href="/">Tarefas</a></li>
          {{#if session.admin}}
            <li><a href="/tasks/add">Criar tarefa</a></li>       
            <li><a href="/tasks/dashboard">Dashboard</a></li>
            <li><a href="/register">Registrar Colaborador</a></li>
            <li><a href="/users">Colaboradores</a></li>
            <li><a href="/logout">Sair</a></li>
          {{/if}}
          
          {{#unless session.admin}}
            {{#if session.userid}}
              <li><a href="/tasks/add">Criar tarefa</a></li>    
              <li><a href="/tasks/dashboard">Dashboard</a></li>
              <li><a href="/logout">Sair</a></li>
            {{else}}
              <li><a href="/login">Entrar</a></li>
            {{/if}}
          {{/unless}}
        </ul>
      </nav>
    </header>
    <div class="container"> 
      {{#if session.userName}}
        <p class="top">
          <span class="active-user">Usuário ativo:</span>
          <span class="user">
            {{session.userName}}
          </span>
      {{else}}
        
      {{/if}}
      {{#if messages.message}}
        <div class="message">
          {{messages.message}}
        </div>
      {{/if}}
      {{#if message}}
        <div class="message">
          {{message}}
        </div>
      {{/if}}
      {{{ body }}}
    </div>
    <footer>
      {{#if session.userName}}
        <p class="active-user">
          Usuário ativo 
          <span class="user">
            {{session.userName}}
          </span>
        </p>
        <p>
          <span>FOE - Organização e Eficiência</span> &copy; 2023
        </p>
      {{else}}
        <p>
          <span>FOE - Organização e Eficiência</span> &copy; 2023
        </p>
      {{/if}}
    </footer>
    <script>
      const hamburger = document.querySelector(".hamburger")
      const nav = document.querySelector(".nav")
      hamburger.addEventListener("click", () => nav.classList.toggle("active"))

      //Validar número identificador
      function validateNumericField() {
        let identifierField = document.getElementById("identifierField").value

        let regex = /^\d{6}$/

        if (regex.test(identifierField)) {
          return true
        } else {
          alert("O identificador é composto por 6 digitos númericos!")
          return false
        }
      }

      function validateIdentifierInput(){
        return validateNumericField()
      }
    </script>
  </body>
</html>
