<div class="home-header">
    {{#if search}}
    <h1>Você está buscando por: <span>{{search}}</span>.</h1>
        {{#if tasksQty }}
            <p>Foram encontradas <span>{{tasksQty}}</span> tarefa(s) relacionadas.</p>
        {{else}}
            <p>Não foram encontradas tarefas relacionadas a <span>{{search}}</span>.</p>
        {{/if}}
    {{else}}
    <h1>Tarefas</h1>
    <h2>Encontre uma tarefa</h2>
    {{/if}}
    <form action="/" method="GET">
        <input type="text" name="search" placeholder="Ex: parafusos">
        <input type="submit" class="btn" value="Buscar">
    </form>
    <div class="order-container">
        <span>Ordenar por:</span>  
        <form action="/" method="GET">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit"><i class="bi bi-arrow-up"></i> Mais novos</button>
        </form>
        <form action="/" method="GET">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit"><i class="bi bi-arrow-down"></i> Mais antigos</button>
        </form>
        <a href="/">Limpar</a>
    </div>
</div>
<div class="tasks-container">
    {{#each tasks}}
        {{#if this.description}}
            <div class="tasks-body">
            <h3>
                {{this.title}}
            </h3>
            <h4>
                Descrição:
            </h4>
            <p class="description">
                {{this.description}}
            </p>
            <div class="task-create"><div>Tarefa criada por <span>{{this.User.name}}</span> em:</div><span>{{this.updatedAt}}</span></div>
        {{else}}
            <div class="tasks-body">
            <h3>
                {{this.title}}
            </h3>
            <h4>
                Sem descrição.
            </h4>
            <div class="task-create"><div>Tarefa criada por <span>{{this.User.name}}</span> em:</div><span>{{this.updatedAt}}</span></div>
        {{/if}}
        </div>
    {{/each}}
</div>