<div class="home-header">
    {{#if search}}
    <h1>Você está buscando por: <span>{{search}}</span>.</h1>
        {{#if tasksQty }}
            <p>Foram encontradas <span>{{tasksQty}}</span> tarefa(s) relacionadas.</p>
        {{else}}
            <p>Não foram encontradas tarefas relacionadas a <span>{{search}}</span>.</p>
        {{/if}}
    {{else}}
    <h1>Tarefas</h1>
    <h2>Encontre uma tarefa</h2>
    {{/if}}
    <form action="/" method="GET">
        <input type="text" name="search" placeholder="Ex: parafusos">
        <input type="submit" class="btn" value="Buscar">
    </form>
    <div class="order-container">
        <span>Ordenar por:</span>  
        <form action="/" method="GET">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit"><i class="bi bi-arrow-up"></i> Mais novas</button>
        </form>
        <form action="/" method="GET">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit"><i class="bi bi-arrow-down"></i> Mais antigas</button>
        </form>
        <a href="/">Limpar</a>
    </div>
</div>
<div class="tasks-container">
    {{#if session.admin}}
    {{#each tasks}}
        {{#if this.description}}
            <div class="tasks-body">
            {{#if this.done}}
                <h3 class="title done">
                    {{this.title}}
                </h3>
                <p class="sucess">Tarefa concluída!</p>
            {{else}}
                <h3>
                    {{this.title}}
                </h3>
            {{/if}} 
            <h4>
                Descrição:
            </h4>
            <p class="description">
                {{this.description}}
            </p>
            <div class="task-create">
                <div>
                    Tarefa criada por <span>{{this.User.name}}</span> em:
                </div>
                <div class="task-options">
                    {{this.updatedAt}}
                    {{#if this.done}}
                        
                    {{else}}
                        <form action="/tasks/updatestatus" method="post">
                            <input type="hidden" name="id" value={{this.id}}>
                            <input type="hidden" name="done" value={{this.done}}>
                            <button type="submit">
                                <i class="bi bi-check2-square" id="check"></i>
                            </button>
                        </form>
                    {{/if}} 
                    
                    <form action="/tasks/removeHome" method="post">
                        <input type="hidden" name="id" value={{this.id}}>
                        <button type="submit">
                            <i class="bi bi-x-square"></i>
                        </button>
                    </form>
                </div>
            </div>
        {{else}}
            <div class="tasks-body">
            {{#if this.done}}
                <h3 class="title done">
                    {{this.title}}
                </h3>
                <p class="sucess">Tarefa concluída!</p>
            {{else}}
                <h3>
                    {{this.title}}
                </h3>
            {{/if}} 
            <h4>
                Sem descrição.
            </h4>
            <div class="task-create">
                <div>
                    Tarefa criada por <span>{{this.User.name}}</span> em:
                </div>
                <div class="task-options">
                    {{this.updatedAt}}
                    {{#if this.done}}
                        
                    {{else}}
                        <form action="/tasks/updatestatus" method="post">
                            <input type="hidden" name="id" value={{this.id}}>
                            <input type="hidden" name="done" value={{this.done}}>
                            <button type="submit">
                                <i class="bi bi-check2-square" id="check"></i>
                            </button>
                        </form>
                    {{/if}} 
                    <form action="/tasks/removeHome" method="post">
                        <input type="hidden" name="id" value={{this.id}}>
                        <button type="submit">
                            <i class="bi bi-x-square"></i>
                        </button>
                    </form>
                </div>
            </div>
        {{/if}}
        </div>
    {{/each}}
    {{/if}}
        {{#unless session.admin}}
          {{#if session.userid}}
                {{#each tasks}}
                    {{#if this.description}}
                        <div class="tasks-body">
                        {{#if this.done}}
                            <h3 class="title done">
                                {{this.title}}
                            </h3>
                            <p class="sucess">Tarefa concluída!</p>
                        {{else}}
                            <h3>
                                {{this.title}}
                            </h3>
                        {{/if}} 
                        <h4>
                            Descrição:
                        </h4>
                        <p class="description">
                            {{this.description}}
                        </p>
                        <div class="task-create">
                            <div>
                                Tarefa criada por <span>{{this.User.name}}</span> em:
                            </div>
                            <div class="task-options">
                                {{this.updatedAt}}
                                {{#if this.done}}
                        
                                {{else}}
                                    <form action="/tasks/updatestatus" method="post">
                                        <input type="hidden" name="id" value={{this.id}}>
                                        <input type="hidden" name="done" value={{this.done}}>
                                        <button type="submit">
                                            <i class="bi bi-check2-square" id="check"></i>
                                        </button>
                                    </form>
                                {{/if}} 
                            </div>
                        </div>
                    {{else}}
                        <div class="tasks-body">
                        <h3 class="title done">
                            {{this.title}}
                        </h3>
                        <p class="sucess">Tarefa concluída!</p>
                        <h4>
                            Sem descrição.
                        </h4>
                        <div class="task-create">
                            <div>
                                Tarefa criada por <span>{{this.User.name}}</span> em:
                            </div>
                            <div class="task-options">
                                {{this.updatedAt}}
                                {{#if this.done}}
                        
                                {{else}}
                                    <form action="/tasks/updatestatus" method="post">
                                        <input type="hidden" name="id" value={{this.id}}>
                                        <input type="hidden" name="done" value={{this.done}}>
                                        <button type="submit">
                                            <i class="bi bi-check2-square" id="check"></i>
                                        </button>
                                    </form>
                                {{/if}} 
                            </div>
                        </div>
                    {{/if}}
                    </div>
                {{/each}}
          {{else}}
                {{#each tasks}}
                    {{#if this.description}}
                        <div class="tasks-body">
                        <h3 class="title done">
                            {{this.title}} 
                        </h3>
                        <p class="sucess">Tarefa concluída!</p>
                        <h4>
                            Descrição:
                        </h4>
                        <p class="description">
                            {{this.description}}
                        </p>
                        <div class="task-create">
                            <div>
                                Tarefa criada por <span>{{this.User.name}}</span> em:
                            </div>
                            <div class="task-options">
                                {{this.updatedAt}}
                            </div>
                        </div>
                    {{else}}
                        <div class="tasks-body">
                        <h3 class="title done">
                            {{this.title}}
                        </h3>
                        <p class="sucess">Tarefa concluída!</p>
                        <h4>
                            Sem descrição.
                        </h4>
                        <div class="task-create">
                            <div>
                                Tarefa criada por <span>{{this.User.name}}</span> em:
                            </div>
                            <div class="task-options">
                                {{this.updatedAt}}
                            </div>
                        </div>
                    {{/if}}
                    </div>
                {{/each}}
          {{/if}}
    {{/unless}}
</div>